<br>
<div class="content">
    <div class="card mx-auto float-right" style="width: 70rem;">

        <div class="card-header rounded">
            Projectos sin recursos asignados
            <button type=" button " title="Craer un proyecto nuevo" [routerLink]="['/newrec']" class="btn waves-effect btn btn-secondary float-right">
              <span class="oi oi-plus"></span>
              Nuevo
          </button>


        </div>
        <br>
        <div class="mx-auto float-right" style="width: 1000px;">

            <table class="table  table-hover" data-spy="scroll">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Project ID</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Resource ID</th>
                        <th scope="col">Resource Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="text-right">
                                <button type=" button " title="Eliminar recurso" class="btn waves-effect btn ">
                                            <span class="oi oi-x"></span>
                                    </button>
                                <button type=" button " title="Modificar recurso" class="btn waves-effect btn  ">
                                        <span class="oi oi-reload"></span>
                                        </button>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>